@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body{
   font-family: 'Share Tech', sans-serif;
	margin:10px;
	background-color:#010101;
}


/* new css */






.p{
	color:white;
}

#lightSsslider{
    margin-top: 20px;
margin-left: 40px;
margin-right: 80px;
height: 800px;

}




/* new css */

.navbar {
  overflow: hidden;
  background-color: #111111;
	height:80px;
	padding-top:0px;
}

.navbar ol {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
/*           justify-content: center; */
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}


.navbar a {
/*   float: left; */
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: right;
  overflow: hidden;
	margin-right:60px;
	margin-top:10px;
}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: white;
/*   padding: 14px 16px; */
  background-color: inherit;
  font-family: 'Share Tech', sans-serif;
  margin-bottom:12px;
	
}

.navbar a:hover, .dropdown:hover .dropbtn {
/*   background-color: #366BCC; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 input[type=text] {
/*   float: right; */width:580px;
	 margin-left:px;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 20px;
}

button{
	cursor:pointer;
	width:80px;
	height:37px;
	 font-size: 22px;  
  border: none;
  outline: none;
   padding: 7px 12px;
	margin-top:0px;
  background-color: #366BCC;
  font-family:  'Share Tech', sans-serif;
	color:black;
	text-shadow:1px;
 
}

.about{margin-top:0px;
	margin-right:48px;
	float:right;
}

.register{margin-left:75px;
	margin-right:55px;
	float:right;
}

.home{margin-left:28px;
margin-right:35px;
	margin-top:10px;
}
.logo{
	cursor:pointer;
/* 	float:left; */
	margin:0px;
	margin-left:20px;
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: flex;
          justify-content: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

.menu ol {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
          align-items: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: #444;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 5px solid #999;
  margin: 0 0.1em;
 
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}
.menu-item[aria-haspopup="true"] {
  border-bottom-color: #366BCC;
}
.menu-item:hover, .menu-item:focus-within {
  border-bottom-color:#B933BC;
  background: #333;
}
.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.sub-menu {
  flex-direction: column;
 align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a:focus {
  outline: none;
}

@media (max-width: 690px) {
  .menu {
    width: 95%;
    font-size: 16px;
  }

  .menu-item {
    
		margin-right:50px;
  }
  .menu-item:nth-child(1) {
    order: 0;
  }
  .menu-item:nth-child(2) {
    order: 1;
  }
  .menu-item:nth-child(3) {
       order: 3;
  }
  .menu-item:nth-child(4) {
    order: 4;
  }
  .menu-item:nth-child(5) {
order: 2;
  }
}

}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzz */


.line1{background-image:url("https://res.cloudinary.com/dsph4eptm/image/upload/v1594747140/145567_zgunbb.jpg");
	margin-top:40px;
	padding-top:.1px;
width:1480px;
	height:410px;
	display:block;
	background-color:#333333;
	  box-shadow: 0px 0px 10px 4px #366BCC;
	}

.intro{
width:1400px;
height:80px;
	padding-top:12px;
	margin-right:40px;
	margin-left:40px;
	margin-top:20px;
	margin-bottom:10px;
background: rgb(54,107,204);
background: radial-gradient(circle, rgba(54,107,204,1) 11%, rgba(164,17,101,1) 79%);
	 box-shadow: 0px 0px 20px 4px black;
	 font-family: 'Share Tech', sans-serif;
	}


.pro1{
	cursor:pointer;
	display:block;
	margin-top:10px;
	margin-left:40px;
	margin-right:40px;
	float:right;
	border:2px double #366BCC;
transition: all .3s ease-in-out;
	border-radius:2px;
}

.pro1:hover {
	
  transform: scale(1.1); 
}

.proend{
	cursor:pointer;
	display:block;
	margin-top:10px;
	margin-left:40px;
	margin-right:80px;
	float:right;
		border:2px double #366BCC;
	transition: all .3s ease-in-out;
	border-radius:2px;
}

.proend:hover {
  transform: scale(1.1); 
}


.text{
	background-color:white;
	height:50px;
	text-align:center;
	padding-top:8px;
	font-family: 'Share Tech', sans-serif;
}

.logo1{
	margin-top:30px;
	margin-bottom:10px;
}

.logo2{
	margin-top:30px;
	margin-bottom:10px;
}

.logo3{
	margin-top:30px;
	margin-bottom:10px;
}

h1{
	margin:10px;
	text-shadow:1px 1px black;
	display:inline-block;
	width:300px;
}

h2{
	float:right;
	margin-top:15px;
	margin-right:60px;
	cursor:pointer;
}


.footer{
	line-height: 36px;
	display:inline-block;
	width:100%;
	height:150px;
	background-color:#222222;
	padding:10px;
	margin-top:40px;
	}

.foot_text1{
	color:white;
	font-size:15px;
	margin-left:80px;
	margin-right:50px;
}

.foot_text2{
	color:white;
	font-size:15px;
	margin-left:80px;
}
.shop{
	display:inline-block;
margin-right:34px;}

.Company{
	display:inline-block;
margin-right:10px;}

* {box-sizing: border-box;
font-family: 'Share Tech', sans-serif;}
.Tech-cart{
	display:inline-block;
margin-right:4px}

.foot_text3{
	color:white;
	font-size:15px;
	margin-left:80px;
	margin-right:
}

.footer a{
	color:#878787;
	text-decoration: none;
	hover:
}


.footer a:hover {
	text-decoration:underline;}

/* aaaaaaaaaaaaaaaaa */




#lightSslider{
    margin-top: 20px;
margin-left: 40px;
margin-right: 80px;
height: 800px;

}



#lightSlider{
    margin-top: 20px;
margin-left: 40px;
margin-right: 80px;
height: 800px;
}





.products{cursor: pointer;
    border:2px double #366BCC;
width: 203px;
margin-top: 15px;
margin-bottom: 15px;
}
.desc{
    background-color:white;
	height:50px;
	text-align:center;
	padding-top:8px;
    font-family: 'Share Tech', sans-serif;
    width: 200px;
}

.products:hover{
    transform: scale(1.1); 
}
